body {
	&.login,
	&.register { /*use this image settings for 2 pages*/
		background-image: url("mainbackground.png");
	}
	
	&.home,
	&.allrecipestagspage,
	&.following,
	&.myprofile,
	&.myrecipes,
	&.mysinglerecipeview { 
		background-image: url("defaultbackground.png");
	}
		
	background-size: 900px;
	background-position: left -100px right -100px;
	background-repeat: no-repeat;
	background-color: #99a146;
	
	font-family: "Futura";
	
}

.login-content,
.register-content,
.recipe-content {
	position:  relative;
	left: 160px;

	input {
		display: block;
		width: 220px;
		height: 50px;
		margin-bottom: 10px;
		background-color: #f6f2e6;
		border: 1px solid #623d3d;
		border-radius: 4px;
		box-shadow: 5px 5px 2px #e0baa5;
		padding-left: 105px;
	}
	
	.input-text {
		position: relative;
		top: 15px;
		left: 8px;
		height: 0;
	}
	
	div.button {
		display: inline-block;
		width: 81px;
		height: 20px;
		margin-right: 10px;
	}
	.login-button {
		display: inline-block;
		line-height: 30px;       /* vertical alignment */
		text-align: center;      /* horizontal alignment */

		padding: 0;  

		width: 81px;
		height: 30px;
		margin-right: 10px;

		&:hover {
			background-color: #ffd18f;
		}
	}


	.form-field {
		margin-bottom: 10px;
	}
	
}

.following-content,
.myprofile-content {
	position:  relative;
	left: 160px;

	input {
		display: block;
		width: 220px;
		height: 50px;
		margin-bottom: 10px;
		background-color: #f6f2e6;
		border: 1px solid #623d3d;
		border-radius: 4px;
		box-shadow: 5px 5px 2px #e0baa5;
		padding-left: 105px;
	}

}

.login-content {
	top:  200px;
	
	
}
.login-button {
	display: inline-block;
	width: 81px;
	height: 20px;
	margin-right: 10px;
}
.button {
	background-color: #f6f2e6;
	border: 1px solid #623d3d;
	border-radius: 4px;
	box-shadow: 2px 2px 2px #e0baa5;
	padding: 5px 10px;
	color: #6f7251;
	
	&:hover {
		background-color: #ffd18f;
	}
}

a {
	text-decoration: none;	
}

.register-content {
	top:  160px;
	
	.register-text {
		padding-left: 20px;
	}
	
	.go-circle {
		width: 60px;
		height: 60px;
		background-color: #ffc654;
		border-radius: 50%;
		position: relative;
		top: -62px;
		left: 250px;
		
		.go-arrow {
			width: 35px;
			height:35px;
			border: 2px solid black;
			border-left: 0;
			border-top: 0;
			transform: rotate(-45deg);
			position: relative;
			top: 11px;
			left: 10px;
			
			a {
				display: inline-block;
				transform: rotate(45deg);
				text-decoration: none;
				position: relative;
				left: 2px;
				top: 5px;
			}
		}
	}

	.register-button {
		display: inline-block;
		line-height: 30px;       /* vertical alignment */
		text-align: center;      /* horizontal alignment */

		padding: 0;

		width: 100px;
		height: 30px;
		margin-right: 10px;

		&:hover {
			background-color: #ffd18f;
		}
}

.welcome-text {
	color: #f6f2e6;
	margin: 30px 20px;
}

div.button.home-button {
	position: absolute;
	left: 28px;
	bottom: 30px;
	width: 80px;
	height: 33px;
    margin-bottom: 20px;
    padding-top: 17px;
}

.myprofile {
	.links {
		display: flex;
		flex-direction: row;
	}
}

.home,
.myprofile {
	.home-container {
		display: flex;
		flex-direction: row;
	}

	.button {
		width: 200px;
		display: block;
		height: 33px;
        margin-bottom: 20px;
        padding-top: 17px;
	}
	
	.links {
		margin: 30px 20px;
		
		.column2 {
			margin-left: 10px;
		}
	}
	
	.recipe {
		display: inline-block;
		padding-left: 40px;
		
		.label{
			color: #f6f2e6;
			margin-bottom: 30px;
			font-size: 20px;
		}
		
		.content {
			background-color: #f2e7cb;
			border: 5px solid #9bb09d;
			border-radius: 25px;
			margin-left: 20px;
			width: 500px;
			height: 300px;
			padding: 20px;
		}
	}
}

.myrecipes {
	.links {
		margin-left: 20px;
		
		.recipes {
			width: 700px;
			height: calc(100vh - 300px);
			overflow-y: scroll;
			background-color: #f2e7cb;
			border: 5px solid #9bb09d;
			border-radius: 25px;
			margin-left: 130px;
			padding: 20px;
			
			.button {
				width: 400px;
				margin-bottom: 5px;
			}
		}
	}
	
	.button {
		width: 100px;
	}
	
}

.following {
	.follows {
		width: 700px;
		height: calc(100vh - 300px);
		overflow-y: scroll;
		background-color: #f2e7cb;
		border: 5px solid #9bb09d;
		border-radius: 25px;
		margin-left: 130px;
		margin-top: 50px;
		padding: 20px;
		
		.button {
			width: 400px;
			margin-bottom: 5px;
		}
	}
}