{% extends "base.html" %}
{% block content %}
	<div class = "welcome-text"> WELCOME TO HOME PAGE: </div>
	
	<div class = "home-container">
		<div class = "links"> 
			
			 <a href = "{{url_for('allrecipestags')}}" id = "log-in">
				<div class = "button"> ALL RECIPES </div>
			 </a>
			 
			 <a href = "{{url_for('myrecipes')}}" id = "log-in">
			 	<div class = "button"> MY RECIPES </div>
			 </a> 
			 
			 <a href = "{{url_for('following')}}" id = "log-in">
				 <div class = "button"> FOLLOWING </div>
			 </a> 
			 
			 <a href = "{{url_for('myprofile')}}" id = "log-in">
				<div class = "button"> MY PROFILE </div>
			 </a>

			 <a href = "{{url_for('logout')}}" id = "log-in">
				<div class = "button"> LOG OUT </div>
			 </a>
			
		</div>
		
		<div class = "recipe"> 
			<div class = "label"> RECIPE OF THE DAY: </div>
			<div class = "content"> TITLE: {{recipe.title}} 
				<br>
				<br>
				DESCRIPTION:
				<br>{{recipe.description}}
				<br>
				<br>
				<a href = "{{url_for('mysinglerecipeview', num = recipe.id)}}" id = "log-in">
					<div class = "button"> SEE MORE </div>
				 </a>
			</div>
		</div>
	</div>
{% endblock %}