{% extends "base.html" %}
{% block content %}
	<div class = "login-content"> 
		<input id = "user">
		<div class = "input-text"> NAME: </div>
		<input id = "pass" type = "password">
		<div class = "input-text"> PASSWORD: </div>
		
		<div class = "buttons"> 
			<a href = "{{url_for('login')}}" id = "log-in">
				<div class = "button"> LOG-IN </div>
			</a> 
			
			<a href = "{{url_for('register')}}" id = "register">
				<div class = "button"> REGISTER </div>
			</a> 
		</div>
		
	</div>
{% endblock %}