{% extends "base.html" %}
{% block content %}
	<div class = "welcome-text"> WELCOME TO THE PAGE WHERE YOU CAN CREATE A RECIPE: </div>
<form action="" method="POST" novalidate>
{{form.hidden_tag()}}



	<div class = "links"> 
		 
		 <div> RECIPE NAME HERE>: </div> <!--FIXME-->
		 
		 <a href = "{{url_for('login')}}" id = "log-in">
		 	<div class = "button">  CANCEL/ ERASE </div>
		 </a>



		 <a href = "{{url_for('login')}}" id = "log-in">
		 	<div class = "button">  {{ form.submit_recipe() }} </div>
		 </a>
		 
		 
	</div>
	
	<div class = "recipe-content">

			<div class = "form-field">
<!--				<div class = "input-text"> RECIPE NAME: </div>-->
				{{ form.title(class="form-control", id="title", value="title") }}
			</div>
<!--			<input id = "recipe-description">-->
<!--			<div class = "input-text"> RECIPE DESCRIPTION: </div>-->
			{{ form.description(class="form-control", id="description", value="description") }}

			<!-- TEMPERATURE, MEAT AND SEAFOOD ARE OPTIONS-->

<!--			<input id = "ingredients" type = "ingredients">-->
<!--			<div class = "input-text"> INGREDIENTS: </div>-->
			{{ form.ingredients(class="form-control", id="ingredients", value="ingredients") }}

			<!-- SWEET/SAVORY/BOTH ARE OPTIONS-->
			<!-- TYPE OF FOOD ARE OPTIONS-->


<!--			<input id = "instructions" type = "instructions">-->
<!--			<div class = "input-text"> DIRECTIONS: </div>-->
			{{ form.instructions(class="form-control", id="instructions", value="instructions") }}


			<!-- The home page button-->
			<a href = "{{url_for('home')}}" id = "home">
				<div class = "button"> HOME </div>
			</a>



	</div>

</form>

{% endblock %}