{% extends "base.html" %}
{% block content %}
<div class = "welcome-text"> WELCOME TO THE PAGE DESCRIBING YOUR RECIPE: </div>

	<div class = "container">
		<div class = "left">

			<div class = "links">
				 
				{% if show_buttons %}
				  <a href="{{ url_for('mysinglerecipeedit', recipe_id = recipe.id) }}">
				 	<div class = "button">  UPDATE RECIPE </div>
				  </a>
				  
				  <a href="{{ url_for('mysinglerecipedelete', recipe_id = recipe.id) }}">
		  		 	<div class = "button">  DELETE RECIPE </div>
		  		  </a>
				 
		 		 {% endif %}
		
				{% if not show_buttons and not check_favorite%}
				  <a href="{{ url_for('add_favorite', recipe_id = recipe.id) }}">
				 	<div class = "button">  ADD FAVORITE </div>
				  </a>
		 		{% endif %}
				 {% if not show_bottons and check_favorite %}
				 <a href="{{ url_for('remove_favorite', recipe_id = recipe.id) }}">
					 <div class = "button">  REMOVE FAVORITE </div>
				 </a>
				 {% endif %}
			</div>
	
			 <div class = "recipe-content">

				<div class="title field">
					<div class="display-label">Title:</div>
					<div class="display-content">{{ recipe.title }}</div>
				</div>

				<div class="area field">
					<div class="display-label">Description:</div>
					<div class="display-content">{{ recipe.description}}</div>
				</div>

				  <div class="area field">
					  <div class="display-label">Ingredients:</div>
					  <div class="display-content">
						<ul>
							{% for ingredient in ingredients %}
								{% if ingredient != ''%}
									<li>{{ingredient}}</li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				  </div>

				  <div class="area field">
					  <div class="display-label">Instructions:</div>
					  <div class="display-content">
						<ol>
							{% for step in instructions %}
								{% if step != ''%}
									<li>{{step}}</li>
								{% endif %}
							{% endfor %}
						</ol>
					  </div>
					</div>

			</div>
		</div>

		<div class = "right">
			{% for tag in recipe.tags %}
				{% if recipe.tags[tag] != "" %}
					 <div class = "tag"> {{ recipe.tags[tag]}} </div>

				{% endif %}
			{% endfor %}
		</div>


	<div class = "farright">
		<p>Average Rating: {{ recipe.average_rating() }}</p>

		<form action="" method="POST" novalidate>
			{{rating_form.hidden_tag()}}
			{{ rating_form.rating.label }} {{ rating_form.rating()}}
			{{ rating_form.submit_rating() }} <!--This type of buttons doesn't have a url for them, so no need to wrap in a div-->
			
			
		</form>		
						
		<div class="area field" style="height:400">
			{% for comment in comment_list %}
				<p>{{ comment }}</p>
			{% endfor %}
		</div>
	
		
		<form action="" method="POST" novalidate>
		{{comment_form.hidden_tag()}}
		{{ comment_form.submit_comment() }}
			 <div class="form-field">
					<div class="input-text">{{comment_form.comment.label}}:</div>
					{{ comment_form.comment(class="form-control field", id="comment") }}
					{% for error in comment_form.comment.errors %}
						<div class="text-danger">{{ error }}</div>
					{% endfor %}
			 </div>

		</form>

	</div>

</div>


	<!-- The home page button-->
	<a href = "{{url_for('home')}}" id = "home">
		<div class = "button home-button"> HOME </div>
	</a>

{% endblock %}