{% extends "base.html" %}
{% block content %}
	<div class = "welcome-text"> WELCOME TO THE PAGE WHERE YOU CAN EDIT YOUR RECIPE: </div>

<form action="" method="POST" novalidate>
{{form.hidden_tag()}}
	<div class = "container">
		<div class = "left">
			<div class = "links"> 
				 
				 <a href = "{{url_for('mysinglerecipeedit', recipe_id = recipe_to_edit.id)}}" id = "cancel">
				 	<div class = "button">  CANCEL EDIT </div>
				 </a>
		
				 <a href = "{{url_for('login')}}" id = "log-in">
				 	<div class = "button">  {{ form.submit_recipe() }} </div>
				 </a>
				 
			</div>
		
			<div class = "recipe-content">
		
				<div class="form-field">
		            <div class="input-text">{{form.title.label}}:</div>
		            {{ form.title(class="form-control", id="title", value=recipe_to_edit.get_title()) }}
		            {% for error in form.title.errors %}
		                <div class="text-danger">{{ error }}</div>
		            {% endfor %}
		        </div>
				
				<div class="form-field">
			        <div class="input-text">{{form.description.label}}:</div>
			        {{ form.description(class="form-control", id="description", value=recipe_to_edit.get_description()) }}
			        {% for error in form.description.errors %}
			            <div class="text-danger">{{ error }}</div>
			        {% endfor %}
			    </div>
				
				<div class="form-field">
		            <div class="input-text">{{form.ingredients.label}}:</div>
		            {{ form.ingredients(class="form-control", id="ingredients", value=recipe_to_edit.get_ingredients()) }}
		            {% for error in form.ingredients.errors %}
		                <div class="text-danger">{{ error }}</div>
		            {% endfor %}
		        </div>
				
				<div class="form-field">
		            <div class="input-text">{{form.instructions.label}}:</div>
		            {{ form.instructions(class="form-control", id="instructions", value=recipe_to_edit.get_instructions()) }}
		            {% for error in form.instructions.errors %}
		                <div class="text-danger">{{ error }}</div>
		            {% endfor %}
		        </div>
				
			</div>
		</div>
		
		<div class = "right">
			<div class = "tags"> 
				{{form.temperature}}
				{{form.dish_type}}
				{{form.dairy}}
				{{form.sweetness}}
				{{form.meat}}
				{{form.seafood}}
			</div>
		</div>
	</div>
</form>

<!-- The home page button-->
<a href = "{{url_for('home')}}" id = "home">
	<div class = "button home-button"> HOME </div>
</a>

{% endblock %}
